# <font color=green> **Challenge Pandas 05 : Manipulando una base de datos**

Usted es responsable de crear una base de datos local de clientes para una institución financiera. Disponemos del archivo CSV `clientes_banco.csv` con los datos de los clientes.

Tu misión es:

01 - Crear la base de datos local con la biblioteca SQLAlchemy.

02 - Escribir los datos del archivo CSV en esta base de datos local.

03 - Realizar tres actualizaciones en la base de datos:

- Actualizar el registro del cliente ID 6840104 cuyo rendimiento anual cambió a 300000.

- Eliminar el registro de cliente ID 5008809, ya que esta persona ya no tiene cuenta en la institución financiera.

- Crear un nuevo registro de cliente siguiendo las especificaciones a continuación:

    - ID_cliente: 6850985
    - Edad: 33
    - Grado_estudio: Doctorado
    - Estado_civil: Soltero
    - Tamaño_familia: 1
    - Categoria_de_renta: Empleado
    - Ocupacion: TI
    - Años_empleado: 2
    - Rendimiento_anual: 290000
    - Tiene_carro: 0
    - Vivienda: Casa/Departamento propio

Consejo importante: Para agregar un nuevo cliente a la tabla, use la cláusula INSERT INTO seguida del nombre de la tabla y luego especifique los nombres de las columnas de la tabla entre paréntesis. Utilice la cláusula VALUES y luego pase entre paréntesis los nuevos valores para este nuevo registro. Asegúrese de que los valores estén en el orden correcto y en el formato adecuado para cada columna.