## <font color=green> **02 - Leyendo archivos Excel**

### <font color=green> **Importando archivos Excel**

In [1]:
# Importando Pandas

import pandas as pd

In [ ]:
# Asignando a una variable la ruta del archivo Excel

archivo = 'data\\emisiones_CO2.xlsx'

In [ ]:
# Asignando a un dataframe la informacion leida por la funcion Pandas read_excel

datos_co2 = pd.read_excel(archivo)

In [10]:
# Leyendo las primeras lineas del dataframe creado

datos_co2.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Visualizando los nombres de las hojas del archivo Excel

pd.ExcelFile(archivo).sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

### <font color=green> **Parámetros de la funcion read_excel**

Documentación: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [12]:
# Usando el parametro "sheet_name", para elegir la hoja que se desea leer
# Visualizando las primeras 5 filas del dataframe

percapita = pd.read_excel(archivo, sheet_name='emisiones_percapita')
percapita.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
15358,Dominicana,DMA,1876,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5919,Benín,BEN,1957,0.0,NaN,NaN,NaN,NaN,NaN,NaN
291,Albania,ALB,1769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8815,Burundi,BDI,1861,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8674,Burkina Faso,BFA,1992,65657.0,0.0,65657.0,0.0,NaN,0.0,NaN

In [13]:
# Usando el parametro "sheet_name" para elegir la otra hoja de calculo
# Visualizando las ultimas filas del dataframe

fuentes = pd.read_excel(archivo, sheet_name='fuentes')
fuentes.tail()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

In [14]:
# Seleccionando un intervalo de columnas con "usecols" en la hoja seleccionada

intervalo = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D')
intervalo

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [15]:
# Adicionando el parametro "nrows" para elegir las filas deseadas

intervalo_2 = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D', nrows=10)
intervalo_2

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

### <font color=green> **Escribiendo archivos Excel**

In [16]:
# intervalo.to_excel('co2_percapita.xlsx', index=False)
# pd.read_excel('co2_percapita.xlsx')

### <font color=green> **Leyendo datos de Google Sheets**

link: https://docs.google.com/spreadsheets/d/1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I/edit?usp=sharing

In [19]:
sheet_id = '1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [ ]:
# datos_co2_sheets = pd.read_csv(url)
# datos_co2_sheets

In [22]:
# Leyendo otra hoja dentro del sheet

sheet_id = '1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I'
sheet_name = 'emisiones_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
# percapita_sheets = pd.read_csv(url_percapita)

In [ ]:
# percapita_sheets.head()